/* 必須 
-----------------------------------------*/ 
.ex_essential{ 
    color:#CC0000; 
    font-weight:normal; 
} 
/* エラー 
-----------------------------------------*/ 
  
/* 注釈 
-----------------------------------------*/ 
.ex_comment{ 
    color:#666; 
} 
/* フレームレイアウト 
-----------------------------------------*/ 
		* {
			margin:0;
			padding:0;
		}

		body {
			margin:0;
			_overflow:hidden;
			padding:0;
		}

		#left_frame {
			background-color: #EBF0F6;
			height:100%;
			left:0;
			margin:0;
			padding:0;
			position:fixed;
			_position:absolute;
			top:0;
			width:160px;
		}

		#right_frame {
			height:100%;
			margin:0 0 0 170px;
			_overflow:auto;
			padding:0;
		}
  
/* プリントボタン	 
-----------------------------------------*/ 
.PrintButton{
	display : none;
}

